:markdown
  Table of Contents
  ## Table of Contents

  - Standard User’s Operations 


  -  
      -  
          - Create an account 

          - Login  

          - Logout 

          - Change your password 

          - Reserve a critical number 

          - Release a critical number 

          - Export critical number table 

          - View table history 




  - Administrator’s Operations 


  -  
      -  
          - Add a critical number set 

          - Add a critical number set 

          - Make range of critical number 

          - Remove range of critical number  

          - Overwrite a critical number 

          - Ad a new user 

          - Release a critical number 

          - Export critical number table 

          - View table history 




  ## Accessibility Help

  ## Standard User Operations

  ### Create an Account

  ### From Login Page

  ### Click on “Create New Account”

  ### Create your username using your email address

  ### Create your password

  ### Click “Submit”

  ### Login into CNR

  ### Go to Critical Number System login page

  ### Username box: “type in your email address”

  ### Password box: “type in your password”

  ### Click “Login” button

  ### Click “Logout” on top of the page

  ### Change your password

  ### Go to My Profile page

  ### Type in your current password in top box

  ### Type in new password in bottom box

  ### Confirm

  ### Reserve a Critical Number

  ### In Number box: “type in you request number”

  ### Click “Reserve”

  ### Or

  ### Go to Dev Machine Port Number page

  ### Click “Auto Reserver” button

  ### Release a Critical Number

  ### Under Action column

  ### Select number to be release

  ### Click “Download as CSV” on top-right corner of the table

  ### Select directory to be store

  ### Click “Save”

  ### View table history

  ### Click on “View History” on top-right corner

  ### Add a critical number set

  ### Go to Critical Number Sets page

  ### Type in the name

  ### Pull down: select interger or port

  ### Make a range of critical number

  ### Go to Machine Port Numbers

  ### From box: start of the range

  ### To box: end of the range

  ### Remove a range of critical number

  ### Go to Machine Port Numbers

  ### From box: start of the range

  ### To box: end of the range

  ### Overwrite a critical number

  ### Go to Machine Port Numbers

  ### Click Overwrite located under Action column

  ### Add a new user

  ### Go to System Users page

  ### Type in Username

  ### Type in Real Name

  ### Select type of user

  ### Click “Add New User” button

  ### Release a critical number

  ### View table history

  ### (Same step as standard user)

  ## Accessibility Help

  To increase the text size on our Web pages, you can change the
  settings in your Web browser. Just follow the instructions below
  based on the browser you are using or see your browser's help for
  details.

  #### Internet Explorer

  1.  1.Select "View" in the menu bar. 

  2.  2.Select "Text Size". 

  3.  3.Select "Larger" or "Largest". 


   

