.grid_12
  :maruku


    Webbased Critical Number Reservation System

        Tim Caswell
        Ryan Compere
        Robert Hoover
        Quyen Nguyen
        Bryan Bao Tran V.

    ## Table of Contents

    * This will become a table of contents (this text will be scraped).
    {:toc}


    # List of Operations



    ## Standard User's Operations


    ### Change your password

    1. Go to My Profile page

    2. Type in your current password in top box

    3. Type in new password in bottom box

    4. Confirm



    ### Reserve a Critical Number

    1. In Number box: "type in you request number"

    2. Click "Reserve" 

    Or

    1. Go to Dev Machine Port Number page

    2. Click "Auto Reserve" button

    3. Release a Critical Number

    4. Under Action column

    5. Select number to be release


    ## Administrator's Operations


    ### Add a critical number set

    1. Go to Critical Number Sets page

    2. Type in the name

    3. Pull down: select integer or port



    ### Make a range of critical number

    1. Go to Machine Port Numbers

    2. From box: start of the range

    3. To box: end of the range



    ### Remove a range of critical number

    1. Go to Machine Port Numbers

    2. From box: start of the range

    3. To box: end of the range




    ### Add a new user

    1. Go to System Users page

    2. Type in Username

    3. Type in Real Name

    4. Select type of user

    5. Click "Add New User" button




    # Web Accessibility Help


    To increase the text size on our Web pages, you can change the
    settings in your Web browser. Just follow the instructions below
    based on the browser you are using or see your browser's help for
    details.


    Internet Explorer


    1. Select "View" in the menu bar. 

    2. Select "Text Size". 

    3. Select "Larger" or "Largest".


