%html
  %head
    %title Number Catcher
    %link{ :href => "/style.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
  %body
    #container
      - if notice = flash[:notice]
        .flash-notice&= notice
      - if error = flash[:error]
        .flash-error&= error
      = yield