%html
  %head
    %title Number Catcher
    %link{ :href => "/theme/jquery-ui-1.7.2.custom.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
    / %link{ :href => "/img/reset.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
    / %link{ :href => "/img/text.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/img/960.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/img/style.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
  %body
    #header
    - if @links
      %p#nav-links
        - @links.each do |name, label|
          %a{ :href => PAGES[name], :class => (PAGES[name] == request.path_info) ? "current" : nil }
            &= label
          - unless name == :logout || name == :login
            |
    #content
      - if notice = flash[:notice]
        .ui-state-highlight.ui-corner-all{ :style => "margin-bottom: 20px; padding: 0 .7em;" }
          %p
            %span.ui-icon.ui-icon-info{ :style => "float: left; margin-right: .3em;" }
            %span.flash-notice&= notice
      - if error = flash[:error]
        .ui-state-error.ui-corner-all{ :style => "margin-bottom: 20px; padding: 0 .7em;" }
          %p
            %span.ui-icon.ui-icon-alert{ :style => "float: left; margin-right: .3em;" }
            %span.flash-error&= error
      .container_12.clearfix= yield
    #footer
      &copy; 2009 Tektronix. All rights reserved.
      %a{ :href => PAGES[:help], :class => (PAGES[:help] == request.path_info) ? "current" : nil  }
        View Documentation
      
