%html
  %head
    %title Number Catcher
    %link{ :href => "/theme/jquery-ui-1.7.2.custom.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/style.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
  %body
    #container
      - if notice = flash[:notice]
        .ui-state-highlight.ui-corner-all{ :style => "margin-top: 20px; padding: 0 .7em;" }
          %p
            %span.ui-icon.ui-icon-info{ :style => "float: left; margin-right: .3em;" }
            %span.flash-notice&= notice
      - if error = flash[:error]
        .ui-state-error.ui-corner-all{ :style => "margin-top: 20px; padding: 0 .7em;" }
          %p
            %span.ui-icon.ui-icon-alert{ :style => "float: left; margin-right: .3em;" }
            %span.flash-error&= error
      = yield