%form{ :method => "POST", :action => "/" }
  Username:
  %input{ :name => "username", :size => "15", :type => "text" }
  %br
  Password:
  %input{ :name => "password", :size => "15", :type => "password" }
  %br
  %div{ :align => "center" }
    %p
      %input{ :type => "submit", :value => "Login" }
