.rounded_corners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #333;
}

input[type=text], textarea {
  .rounded_corners;
  font-weight: bold;
}

