

body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #1f3d63;
}

#header {
  height: 61px;
  background: #022543 url(logo.jpg) left no-repeat;
}

.grid_1, .grid_2, .grid_3, .grid_4 {
  input, select {
    width: 100%;
  }
}

#nav-links {
  background-color: #8bb6dd;
  margin:0;
  padding: 10px 15px;
  border-top: 1px solid #4c62b6;
  border-bottom: 1px solid #4c62b6;
  a:link, a:active, a:visited, a {
    color: #2f47d3;
  }
  a:hover {
    color: #304876;
  }
  a.current {
    font-weight: bold;
  }
}

#content {
  padding: 0 20px 20px 20px;
  background-color: #fff;
}
#footer {
  text-align: center;
  margin: 20px 0 0 0;
  padding: 20px;
  color: #ddd;
  a {
    padding: 0 10px;
  }
  a.current {
    font-weight: bold;
  }
  a:link, a:active, a:visited, a {
    color: #def;
  }
  a:hover {
    color: #5078f6;
  }
  
}

table.data_table {
  width: 100%;
  border: 1px solid #888;
  border-collapse: collapse;
  td, th {
    text-align: left;
    padding: 3px 5px;
  }
  thead {
  }
  tbody {
    tr.odd {
    }
    tr.even {
      background: #eef2ff;
    }
    tr.odd:hover {
      background: #eee;
    }
    tr.even:hover {
      background: #dde2ee;
    }
  }
  
}
