%form.ui-widget{ :method => "POST", :action => "#{PAGES[:users]}/#{@user.id}" }
  .grid_2{ :style => "text-align: right" }
    %label{ :for => "username" } Username:
  .grid_3
    %input{ :id => "username", :name => "user[username]", :value => @user.username }
  .grid_2.prefix_2{ :style => "text-align: right" }
    %label{ :for => "password" } Password:
  .grid_3
    %input{ :id => "password", :name => "user[password]" }

  .grid_2{ :style => "text-align: right" }
    %label{ :for => "name" } Real Name:
  .grid_3
    %input{ :id => "name", :name => "user[name]", :value => @user.name }
  .grid_3.prefix_4
    %input{ :id => "password2", :name => "user[password2]" }
    
  .grid_2.prefix_10
    %input{ :type => "submit", :name => "change_password", :value => "Change Password" }

  &= @user.inspect