.rounded_corners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #333333;
}
input[type=password], input[type=text], textarea {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #333333;
  font-weight: bold;
}
body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #1f3d63;
}
#header {
  height: 61px;
  background: #022543 url(logo.jpg) left no-repeat;
}
#nav-links {
  background-color: #8bb6dd;
  margin: 0;
  padding: 10px 15px;
  border-top: 1px solid #4c62b6;
  border-bottom: 1px solid #4c62b6;
}
#nav-links a:link { color: #2f47d3; }
#nav-links a:active { color: #2f47d3; }
#nav-links a:visited { color: #2f47d3; }
#nav-links a { color: #2f47d3; }
#nav-links a:hover { color: #304876; }
#nav-links a.current { font-weight: bold; }
#content {
  padding: 20px;
  background-color: #ffffff;
}
#footer {
  text-align: center;
  margin: 20px 0 0 0;
  padding: 20px;
  color: #dddddd;
}
#footer a { padding: 0 10px; }
#footer a.current { font-weight: bold; }
#footer a:link { color: #ddeeff; }
#footer a:active { color: #ddeeff; }
#footer a:visited { color: #ddeeff; }
#footer a { color: #ddeeff; }
#footer a:hover { color: #5078f6; }
