body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #1f3d63;
  font-size: 14px;
}
#header {
  height: 61px;
  background: #022543 url(logo.jpg) left no-repeat;
}
.grid_1 input { width: 100%; }
.grid_1 select { width: 100%; }
.grid_2 input { width: 100%; }
.grid_2 select { width: 100%; }
.grid_3 input { width: 100%; }
.grid_3 select { width: 100%; }
.grid_4 input { width: 100%; }
.grid_4 select { width: 100%; }
#nav-links {
  background-color: #8bb6dd;
  margin: 0;
  padding: 10px 15px;
  border-top: 1px solid #4c62b6;
  border-bottom: 1px solid #4c62b6;
}
#nav-links a:link { color: #2f47d3; }
#nav-links a:active { color: #2f47d3; }
#nav-links a:visited { color: #2f47d3; }
#nav-links a { color: #2f47d3; }
#nav-links a:hover { color: #304876; }
#nav-links a.current { font-weight: bold; }
#content {
  padding: 0 20px 20px 20px;
  background-color: #ffffff;
}
#footer {
  text-align: center;
  margin: 20px 0 0 0;
  padding: 20px;
  color: #dddddd;
}
#footer a { padding: 0 10px; }
#footer a.current { font-weight: bold; }
#footer a:link { color: #ddeeff; }
#footer a:active { color: #ddeeff; }
#footer a:visited { color: #ddeeff; }
#footer a { color: #ddeeff; }
#footer a:hover { color: #5078f6; }
table.data_table {
  width: 100%;
  border: 1px solid #888888;
  border-collapse: collapse;
}
table.data_table td {
  text-align: left;
  padding: 3px 5px;
}
table.data_table th {
  text-align: left;
  padding: 3px 5px;
}
table.data_table tbody tr.even { background: #eef2ff; }
table.data_table tbody tr.odd:hover { background: #eeeeee; }
table.data_table tbody tr.even:hover { background: #dde2ee; }
