.rounded_corners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #333333;
}
input[type=password], input[type=text], textarea {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #333333;
  font-weight: bold;
}
body {
  border: 0;
  padding: 0;
  margin: 0;
}
#header {
  height: 61px;
  background: #022543 url(logo.jpg) left no-repeat;
}
#content { margin: 20px; }
