%form{ action: "/posts/#{@post.id}", method: "POST"}
  %input{ type: "hidden", name: "_method", value: "PUT" }
  %input{ type: "text", name: "title", value: @post.title }
  %br
  %textarea{ name: "body" }&= @post.body
  %br
  %input{ type: "submit", value: "Save" }

%form{ action: "/posts", method: "GET"}
  %input{ type: "submit", value: "Cancel" }

%form{ action: "/posts/#{@post.id}", method: "POST"}
  %input{ type: "hidden", name: "_method", value: "DELETE" }
  %input{ type: "submit", value: "Delete" }
